stages:
  - test

test:
  image: maven:3.9.1-eclipse-temurin-17
  stage: test
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - mvn clean test
