name: Java CI with Maven and Testcontainers

on:
  push:
    paths:
      - 'java-server/**'
  pull_request:
    paths:
      - 'java-server/**'

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:24.0.5-dind
        options: --privileged
        ports:
          - 2375:2375
        env:
          DOCKER_TLS_CERTDIR: ""
    defaults:
      run:
        working-directory: java-server
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Build and run tests
        run: mvn clean test
        env:
          DOCKER_HOST: tcp://localhost:2375
